$main-font: "NouvelleVague", sans-serif;
$alt-font: sans-serif;

@font-face {
  font-family: "NouvelleVague";
  font-weight: 400;
  src: url("../../font/nouvelle_vague_final.ttf");
}


@font-face {
  font-family: "sans-serif";
  font-weight: bold;
}
@font-face {
  font-family: "sans-serif";
  font-weight: 300;
}
